{{#if article}}
    {{#each article}}
        <article class="article-item">
            <div class="article-item-container">
                {{#if cover}}
                    <a href="/{{slug}}">
                        <div class="article-item-cover">
                            <div class="img" style="background-image:url({{cover}});"></div>
                        </div>
                    </a>
                {{/if}}
                <header class="article-header">
                    <h3 class="article-title"><a href="/{{slug}}">{{title}}</a></h3>
                </header>
                <section class="article-meta">
                    {{#if author.avatar}}
                        <img class="author-thumb" src="{{author.avatar}}" alt="{{author.name}}" nopin="nopin" />
                    {{/if}}
                    <span>{{author.name}}</span>
                    {{#if tag.length}}
                        on
                        {{#each tag}}
                        <a href="/tag/{{slug}}">{{name}}</a>
                        {{/each}}
                    {{/if}}
                    <time class="article-date" datetime="{{date format="YYYY-MM-DD"}}">{{date now=true}}</time>
                </section>
                <div class="item-meta-hr"></div>
                <section class="article-excerpt">
                    <p>
                        {{excerpt tailor=80}}
                    </p>
                </section>
            </div>
        </article>
    {{/each}}
{{else}}
<h2 style="text-align: center">没有文章</h2>
{{/if}}