{{!< default}}

{{#contentFor 'pageScripts'}}
<script>
var article = {
    origin: 'top',
    delay    : 150,
    easing   : 'cubic-bezier(0.6, 0.2, 0.1, 1)',
    rotate   : { x: 5 },
    opacity: 0,
    scale: 1
};
window.sr = ScrollReveal().reveal('article.article, .article-header, .article-excerpt, .article-meta, .pagination', article, 100)
</script>
{{/contentFor}}

<header class="main-header tag-head {{#if tag.cover}}" style="background-image: url({{tag.cover}}){{else}}{{#if blog.cover}}" style="background-image: url({{blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if blog.logo}}
            <a class="blog-logo" href="/"><img src="{{blog.logo}}" alt="{{blog.title}}" /></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag.name}}</h1>
            <h2 class="page-description">{{tag.profile}}</h2>
        </div>
</header>

<main>
    {{> 'loop'}}
    {{> pagination}}
</main>
